<% @photos.each do |photo| %>
    <div><img src="<%= photo.image_path %>" alt=""></div>
    <div>Title: <%= photo.title %></div>
    <div>Price: <%= photo.price %></div>
    <%= form_tag do %>
        <div><input type="submit" id="<%= photo.id %>" value="Add"></input>
    <% end %>
<% end %>
